.row {
  width: 100%;
  background: #2F4858;
  display: flex;
  border-bottom: 2px solid #c3ccd2;
}
.rowItem {
  display: flex;
  padding: 10px;
  position: relative;
  align-self: center;
}

.row-item-text{
  font-family:"Roboto";
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 34px;
  color: #FFFFFF;
  max-height: 100px;
  white-space: pre-line;
  font-weight: bold;
}

.train-icon{
  margin-right: 10px;
  height: 25px;
}

.places{
  color: #FEFEFE !important;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 600;
  text-align: center;
}

