.label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;

  position: absolute;
	left: 0;
  bottom: 0;
}